<%- include('navbar') %>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 JungleSuc">
      <h1>SUCCESS</h1>
      <h3>We're sorry to see you leaving...</h3>
      <h3>your animals have been removed too.</h3>
      <a href="/"><button class="butonGeneral">back to Trainimals</button></a>
    </div>
  </div>
</div>
<%- include('footer') %>
