<%- include('navbar') %>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 JungleSuc">
      <h1>SUCCESS</h1>
      <h3>Thanks for join TRAINIMALS</h3>
      <a href="/trainer/login"><button class="butonGeneral">Log In</button></a>
    </div>
  </div>
</div>
<%- include('footer') %>
